services:
  users:
    build:
      context: ./apps/users
      dockerfile: Dockerfile
    container_name: users
    ports:
      - "3001:3000"
    env_file:
      - .env
    volumes:
      - ./apps/users:/app
      - /app/node_modules
      - ./contracts:/app/contracts
    working_dir: /app
    command: npm run start:dev

  documents:
    build:
      context: ./apps/documents
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./apps/documents:/app
      - temp_files:/tmp/uploads
      - insightface_models:/root/.insightface/models 
    working_dir: /app

  commerce:
    build:
      context: ./apps/commerce
      dockerfile: Dockerfile
    container_name: commerce
    ports:
      - "3003:3000"
    env_file:
      - .env
    volumes:
      - ./apps/commerce:/app
      - /app/node_modules
      - ./contracts:/app/contracts
    working_dir: /app
    command: npm run start:dev

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_NAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  postgres:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s


  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 2s

  kafka:
    image: confluentinc/cp-kafka:7.8.0
    container_name: kafka
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      CLUSTER_ID: 'single-broker-cluster'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
    volumes:
      - kafka_data:/var/lib/kafka/data

volumes:
  postgres_data:
  redis_data:
  kafka_data:
  mongo_data:
  temp_files:
  insightface_models:
  contracts:
